[Bb]in/
[Oo]bj/
out/
publish/
*.user
*.userosscache
*.sln.docuser

.idea/
.vs/
.vscode/
*.suo
*.user
*.sln.ids
*.dbmdl
*.jsproj.user
*.sqlproj.user
*.cache
*.com.jetbrains.*

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

*.log
*.tmp
